
    .navbar{
        background-color: #f9f9f8 !important;
        box-shadow: 0 16px 38px 0px rgb(0 0 0 / 0%), 0 4px 25px 0px rgb(0 0 0 / 0%), 0 8px 10px 0px rgb(0 0 0 / 12%);
        clip-path: inset(-5px 0px -20px 0px);
  
    }

    .navbar .navbar-brand {
        position: relative;
        /* color: inherit; */
        height: 50px;
        font-size: 1.125rem;
        line-height: 30px;
        padding: 0.625rem 0;
        font-weight: 800;
        margin-left: 1rem;
        color: #014996;
    }
    .navbar {
        background-color: #f9f9f8 !important;
        box-shadow: 0 16px 38px 0px rgb(0 0 0 / 0%), 0 4px 25px 0px rgb(0 0 0 / 0%), 0 8px 10px 0px rgb(0 0 0 / 12%);
 
    }
    .logout{
        text-align:center
    }
    .redCss{
        background-color: #F82020 !important;
    }
    
  