<div class="main-content">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-md-12">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
                    [zoomControl]="false" (mapClick)="mapClicked($event)">
                    <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
                        [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable"
                        (dragEnd)="markerDragEnd(m, $event)">
                        <agm-info-window>
                            <strong>InfoWindow content</strong>
                        </agm-info-window>
                    </agm-marker>
                    <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'"
                        [circleDraggable]="true" [editable]="true">
                    </agm-circle>
                </agm-map>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Bulk Order Pick Up Requests</h4>
                        <p class="card-category">Sender Details</p>
                    </div>
                    <!-- 
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title ">Bulk Order Pick Up Requests</h4>
                            <p class="card-category"> Sender Details</p>
                        </div> -->

                    <div class="card-body">
                        <form [formGroup]="locationForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Sender Name" type="text" required
                                            formControlName="locationName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <!-- <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Branch Name" type="text" formControlName="paci">
                                    </mat-form-field> -->
                                    <!-- <mat-form-field class="example-full-width">
                                        <mat-label>Branch Name</mat-label>
                                        <select matNativeControl (change)="changeGovernorate(Governorate.value)"
                                            placeholder="Branch Name">
                                            <option disabled value="">
                                                Select Branch
                                            </option>
                                            <option value="Capital">Branch 1</option>
                                            <option value="Hawalli">Branch 2</option>
                                            <option value="Mubarak Al-Kaber">Branch 3</option>
                                            <option value="Ahmadi">Branch 4</option>

                                        </select>
                                    </mat-form-field> -->

                                    <ng-multiselect-dropdown [placeholder]="'Branch Name'" [settings]="dropdownSettings"
                                        [data]="dropdownListStatus">
                                    </ng-multiselect-dropdown>


                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email" type="email" formControlName="mobile_no">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <!-- <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Mobile Number" type="number"
                                            formControlName="mobile_no">
                                    </mat-form-field> -->
                                    <div class="numberDiv">
                                        <input type="text" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'KW'}"
                                            class="numberInput" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="CID" type="number" formControlName="mobile_no"
                                            required>
                                    </mat-form-field>
                                </div>

                                <!-- <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Governorate</mat-label>
                                        <select matNativeControl required formControlName="Governorate" #Governorate
                                            (change)="changeGovernorate(Governorate.value)" placeholder="Governorate">
                                            <option disabled value="">
                                                Select Governorate
                                            </option>
                                            <option value="Capital">Capital</option>
                                            <option value="Hawalli">Hawalli</option>
                                            <option value="Mubarak Al-Kaber">Mubarak Al-Kaber</option>
                                            <option value="Ahmadi">Ahmadi</option>
                                            <option value="Farwaniya">Farwaniya</option>
                                            <option value="Jahra">Jahra</option>
                                        </select>
                                    </mat-form-field>

                                </div> -->
                            </div>
                            <div class="row">
                                <!-- <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <!-- <input matInput placeholder="Area" type="text" formControlName="Area"> 
                                        <select matNativeControl required formControlName="Area" placeholder="Area">
                                            <option disabled value="">
                                                Select Area
                                            </option>
                                            <option value="{{item}}" *ngFor="let item of areaList">{{item}}</option>
                                        </select>
                                    </mat-form-field>
                                </div> -->
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Address" type="text" formControlName="Block">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Governorate</mat-label>
                                        <select matNativeControl required formControlName="Governorate" #Governorate
                                            (change)="changeGovernorate(Governorate.value)" placeholder="Governorate">
                                            <option disabled value="">
                                                Select Governorate
                                            </option>
                                            <option value="Capital">Capital</option>
                                            <option value="Hawalli">Hawalli</option>
                                            <option value="Mubarak Al-Kaber">Mubarak Al-Kaber</option>
                                            <option value="Ahmadi">Ahmadi</option>
                                            <option value="Farwaniya">Farwaniya</option>
                                            <option value="Jahra">Jahra</option>
                                        </select>
                                    </mat-form-field>

                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <!-- <input matInput placeholder="Area" type="text" formControlName="Area"> -->
                                        <select matNativeControl required formControlName="Area" placeholder="Area">
                                            <option disabled value="">
                                                Select Area
                                            </option>
                                            <option value="{{item}}" *ngFor="let item of areaList">{{item}}</option>
                                        </select>
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Block" type="number" formControlName="Block"
                                            class="bolckSpinner">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Street" type="text" formControlName="Street">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Building No." type="number"
                                            formControlName="BuildingNo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Floor No." type="text" formControlName="floorNo">
                                    </mat-form-field>
                                </div>

                            </div>
                            <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save
                            Location</button> -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Item Details</h4>
                        <!-- <p class="card-category">Sender Details</p> -->
                    </div>
                    <!-- 
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title ">Bulk Order Pick Up Requests</h4>
                            <p class="card-category"> Sender Details</p>
                        </div> -->

                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Number Of Items" type="text" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Pick Up Date" type="date">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Pick  Time" type="time">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Shipment Type" type="text">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">


                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Approx Weight" type="number">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Unit</mat-label>
                                                <select matNativeControl (change)="changeGovernorate(Governorate.value)"
                                                    placeholder="Unit">
                                                    <option disabled value="">
                                                        Unit
                                                    </option>
                                                    <option value="Capital">kgm</option>
                                                    <option value="Hawalli">gm</option>
                                                    <!-- <option value="Mubarak Al-Kaber">Branch 3</option>
                                                    <option value="Ahmadi">Branch 4</option> -->

                                                </select>
                                            </mat-form-field>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save
                            Location</button> -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right">Submit</button>
            </div>

        </div>
    </div>
</div>