<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button type="submit" class="btn btn-danger pull-right">Switch Data</button>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Sender Details</h4>
                        <p class="card-category">&nbsp;</p>
                    </div>
                    <!-- 
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title ">Bulk Order Pick Up Requests</h4>
                            <p class="card-category"> Sender Details</p>
                        </div> -->

                    <div class="card-body">
                        <form [formGroup]="locationForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Sender Name" type="text" required
                                            formControlName="locationName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Company Name" type="text" formControlName="paci">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email" type="text" formControlName="mobile_no">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Address" type="text" formControlName="Block">
                                    </mat-form-field>
                                </div>

                                <!-- <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Mobile Number" type="number"
                                            formControlName="mobile_no">
                                    </mat-form-field>
                                </div> -->
                                <!-- <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="CID" type="number" formControlName="mobile_no">
                                    </mat-form-field>
                                </div> -->

                                <!-- <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Governorate</mat-label>
                                        <select matNativeControl required formControlName="Governorate" #Governorate
                                            (change)="changeGovernorate(Governorate.value)" placeholder="Governorate">
                                            <option disabled value="">
                                                Select Governorate
                                            </option>
                                            <option value="Capital">Capital</option>
                                            <option value="Hawalli">Hawalli</option>
                                            <option value="Mubarak Al-Kaber">Mubarak Al-Kaber</option>
                                            <option value="Ahmadi">Ahmadi</option>
                                            <option value="Farwaniya">Farwaniya</option>
                                            <option value="Jahra">Jahra</option>
                                        </select>
                                    </mat-form-field>

                                </div> -->
                            </div>
                            <div class="row">

                                <div class="col-md-4">

                                    <mat-form-field class="example-full-width">
                                        <select matNativeControl placeholder="Country" #countryName
                                            formControlName="Country" (change)="selectedCountry(countryName.value)">
                                            <option disabled selected>
                                                Select Country
                                            </option>
                                            <option [value]="item" *ngFor="let item of country_list"> {{item}} </option>
                                        </select>
                                    </mat-form-field>


                                </div>
                                <div class="col-md-4" *ngIf="!isHideGov">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Governorate</mat-label>
                                        <select matNativeControl required formControlName="Governorate" #Governorate
                                            (change)="changeGovernorate(Governorate.value)" placeholder="Governorate">
                                            <option disabled value="">
                                                Select Governorate
                                            </option>
                                            <option value="Capital">Capital</option>
                                            <option value="Hawalli">Hawalli</option>
                                            <option value="Mubarak Al-Kaber">Mubarak Al-Kaber</option>
                                            <option value="Ahmadi">Ahmadi</option>
                                            <option value="Farwaniya">Farwaniya</option>
                                            <option value="Jahra">Jahra</option>
                                        </select>
                                    </mat-form-field>

                                </div>

                                <div class="col-md-4" *ngIf="!isHideGov">
                                    <mat-form-field class="example-full-width">

                                        <select matNativeControl required formControlName="Area" placeholder="Area">
                                            <option disabled value="">
                                                Select Area
                                            </option>
                                            <option value="{{item}}" *ngFor="let item of areaList">{{item}}</option>
                                        </select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4" *ngIf="isHideGov">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="State" type="text" formControlName="Street">
                                    </mat-form-field>

                                </div>

                                <div class="col-md-4" *ngIf="isHideGov">

                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="City" type="text" formControlName="Street">
                                    </mat-form-field>

                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Postal/Zip Code" type="text"
                                            formControlName="Block">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Street" type="text" formControlName="Street">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Block" type="number" formControlName="Block">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Building No." type="number"
                                            formControlName="BuildingNo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Floor No." type="text" formControlName="floorNo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Apartment No." type="text"
                                            formControlName="floorNo">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <!-- <input matInput placeholder="Phone Type" type="text" formControlName="Area"> -->
                                        <select matNativeControl required formControlName="Area"
                                            placeholder="Select Phone Type">
                                            <option disabled value="">
                                                Select Phone Type
                                            </option>
                                            <option>type1</option>
                                            <option>type2</option>
                                            <option>type3</option>
                                            <option>type4</option>
                                        </select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">


                                    <div class="numberDiv">
                                        <input type="text" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'KW'}"
                                            class="numberInput" />
                                    </div>


                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Phone EXT" type="text" formControlName="floorNo">
                                    </mat-form-field>
                                </div>

                            </div>
                            <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save
                            Location</button> -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Receiver Details</h4>
                        <p class="card-category">&nbsp;</p>
                    </div>
                    <!-- 
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title ">Bulk Order Pick Up Requests</h4>
                            <p class="card-category"> Sender Details</p>
                        </div> -->

                    <div class="card-body">
                        <form [formGroup]="locationForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Receiver Name" type="text" required
                                            formControlName="locationName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Company Name" type="text" formControlName="paci">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email" type="text" formControlName="mobile_no">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Address" type="text" formControlName="Block">
                                    </mat-form-field>
                                </div>


                            </div>
                            <div class="row">

                                <div class="col-md-4">


                                    <mat-form-field class="example-full-width">
                                        <!-- <input matInput placeholder="Area" type="text" formControlName="Area"> -->
                                        <select matNativeControl placeholder="Country">
                                            <option disabled selected>
                                                Select Country
                                            </option>
                                            <option [value]="item" *ngFor="let item of country_list"> {{item}} </option>
                                        </select>
                                    </mat-form-field>


                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Governorate</mat-label>
                                        <select matNativeControl required formControlName="Governorate" #Governorate
                                            (change)="changeGovernorate(Governorate.value)" placeholder="Governorate">
                                            <option disabled value="">
                                                Select Governorate
                                            </option>
                                            <option value="Capital">Capital</option>
                                            <option value="Hawalli">Hawalli</option>
                                            <option value="Mubarak Al-Kaber">Mubarak Al-Kaber</option>
                                            <option value="Ahmadi">Ahmadi</option>
                                            <option value="Farwaniya">Farwaniya</option>
                                            <option value="Jahra">Jahra</option>
                                        </select>
                                    </mat-form-field>

                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">

                                        <select matNativeControl required formControlName="Area" placeholder="Area">
                                            <option disabled value="">
                                                Select Area
                                            </option>
                                            <option value="{{item}}" *ngFor="let item of areaList">{{item}}</option>
                                        </select>
                                    </mat-form-field>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Postal/Zip Code" type="text"
                                            formControlName="Block">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Street" type="text" formControlName="Street">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Block" type="number" formControlName="Block">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Building No." type="number"
                                            formControlName="BuildingNo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Floor No." type="text" formControlName="floorNo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Apartment No." type="text"
                                            formControlName="floorNo">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <!-- <input matInput placeholder="Phone Type" type="text" formControlName="Area"> -->
                                        <select matNativeControl required placeholder="Select Phone Type">
                                            <option disabled value="">
                                                Select Phone Type
                                            </option>
                                            <option>type1</option>
                                            <option>type2</option>
                                            <option>type3</option>
                                            <option>type4</option>
                                        </select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">



                                    <div class="numberDiv">
                                        <input type="text" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'KW'}"
                                            class="numberInput" />
                                    </div>






                                    <!-- <div>
                                        <ngx-intl-tel-input [cssClass]="'custom'"
                                            [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true"
                                            [enablePlaceholder]="true" [searchCountryFlag]="true"
                                            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                            [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India"
                                            [maxLength]="15" [phoneValidation]="true"
                                            [separateDialCode]="separateDialCode"
                                            [numberFormat]="PhoneNumberFormat.National" name="phone">
                                        </ngx-intl-tel-input>
                                    </div> -->

                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Phone EXT" type="text" formControlName="floorNo">
                                    </mat-form-field>
                                </div>

                            </div>
                            <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save
                            Location</button> -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>

            </div>


        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Shipment Details</h4>
                        <p class="card-category">&nbsp;</p>
                    </div>
                    <!-- 
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title ">Bulk Order Pick Up Requests</h4>
                            <p class="card-category"> Sender Details</p>
                        </div> -->

                    <div class="card-body">
                        <form [formGroup]="locationForm">
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Name Of Items" type="text" required
                                            formControlName="locationName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Shipment Type" type="text" formControlName="paci">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Insurance State" type="text"
                                            formControlName="mobile_no">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Insurance Value" type="text"
                                            formControlName="mobile_no">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Payment Methods" type="text"
                                            formControlName="locationName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Payment Mode" type="text" formControlName="paci">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Service  Type" type="text"
                                            formControlName="mobile_no">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Other Services" type="text"
                                            formControlName="mobile_no">
                                    </mat-form-field>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Length" type="number"
                                            formControlName="locationName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Width" type="number" formControlName="paci">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Height" type="text" formControlName="mobile_no">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Item's cost" type="text"
                                            formControlName="mobile_no">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Actual Weight" type="text"
                                            formControlName="mobile_no">
                                    </mat-form-field>
                                </div>


                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Calculate</button>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="totalTag"> Total Price : <span class="blurClass">{{ 'according to
                                            invoice'}}</span> </h3>
                                </div>


                            </div>
                            <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save
                            Location</button> -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right">Reset</button>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right">Submit</button>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right">Invoice</button>
            </div>


        </div>

    </div>
</div>