<div class="main-content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Zones<button mat-raised-button type="submit" data-toggle="modal"
                                data-target="#FilterModel" (click)="addNewLocation()"
                                class="btn pull-right update-btn">Add New Zone
                            </button></h4>
                        <p class="card-category"> Total Zones {{locationDetails.length}}
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                <thead>
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Country Name
                                        </th>
                                        <th>
                                            Zones
                                        </th>
                                        <th>
                                            Action
                                        </th>

                                    </tr>
                                </thead>
                                <tbody class="tbodyClass">
                                    <tr *ngFor="let item of locationDetails ; let i = index">
                                        <td class="fixWidth">
                                            {{i + 1}}
                                        </td>
                                        <td>
                                            {{item.countryName}}
                                        </td>
                                        <td>
                                            {{item.zones}}
                                        </td>

                                        <td>
                                            <!-- <span class="material-icons-round">
                                                mode_edit
                                            </span> -->
                                            <div class="iconClass">

                                                <span class="iconSpan">
                                                    <i class="material-icons" (click)="selectedItem( item.id)"
                                                        data-toggle="modal" data-target="#FilterModel">mode_edit </i>
                                                </span>
                                                <span class="iconSpan">
                                                    <i class="material-icons " data-toggle="modal"
                                                        data-target="#deleteLocation" (click)="deleteLocation(i)">
                                                        delete
                                                    </i>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                        </div>
                    </div>
                </div>
                <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-left" data-toggle="modal"
                    data-target="#DistributionOrder">Distribution Order
                </button> -->
            </div>
        </div>
    </div>
</div>

<!--  modal -->
<div id="FilterModel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">{{addOrEdit}} Zone</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="locationForm">
                            <div class="row">

                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Country</mat-label>
                                        <select matNativeControl required #Governorate placeholder="Country"
                                            formControlName="countryName">
                                            <option disabled value="">
                                                Select Country
                                            </option>
                                            <option *ngFor="let item of countryList" value="{{item.name}}">
                                                {{item.name}}
                                            </option>

                                        </select>
                                    </mat-form-field>

                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Zone</mat-label>
                                        <select matNativeControl #zone placeholder="Zone" formControlName="zones">
                                            <option disabled value="" selected>
                                                Select Zone
                                            </option>
                                            <option *ngFor="let item of zoneList" value="{{item}}">
                                                {{item}}
                                            </option>

                                        </select>
                                    </mat-form-field>

                                </div>

                            </div>

                            <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save
                                Location</button> -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" (click)="onClick()">
                        Save Zone
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- popUp for company logo update -->

<!-- company details Update -->

<!-- Delete Location -->
<div id="deleteLocation" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4>
                    Are you sure you want to delete this Zone?
                </h4>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" data-dismiss="modal"
                        (click)="confirmDelete()">
                        Delete
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--   working hours -->