.staticNavbar{
    position: fixed;
    width: calc(100% - 260px);
    z-index: 10;
}
@media (max-width: 991px){
.navbar .navbar-collapse.collapse, .navbar .navbar-collapse.collapse.in, .navbar .navbar-collapse.collapsing {
    display: none !important;
}
.staticNavbar{
    position: fixed;
    width:100%;
    z-index: 10;
}
}
// .main-panel .main-content {
//     margin-top: 70px;
//     padding: 30px 15px;
//     min-height: calc(100vh - 156px) !important;
// }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.hideSidebar{
    display: none;
}