<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">

        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Edit Profile</h4>
            <p class="card-category">Complete your profile</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Company Name">
                  </mat-form-field>
                </div>
                <div class=" col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email address" type="email">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Fist Name" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Last Name" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Adress" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="City" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <!-- <mat-form-field class="example-full-width">
                    <select id="ice-cream-flavors">
                      <option [value]="item" *ngFor="let item of country_list">

                    </select>
                  </mat-form-field> -->

                  <mat-form-field class="example-full-width">
                    <!-- <input matInput placeholder="Area" type="text" formControlName="Area"> -->
                    <select matNativeControl placeholder="Country">
                      <option disabled selected>
                        Select Country
                      </option>
                      <option [value]="item" *ngFor="let item of country_list"> {{item}} </option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Postal Code" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <!-- <label>About Me</label> -->
                  <!-- <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="About Me"></textarea>
                  </mat-form-field> -->
                  <!-- <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> -->
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Edit Profile</h4>
            <p class="card-category">Complete your profile</p>
          </div>
          <div class="col-md-12 centerImage">
            <div class="card-avatar circleImage avatar-wrapper">
              <img [src]="url" height="200" width="200" class="card-avatar circleImage  profile-pic">
              <div class="upload-button">
                <!-- <span>Upload</span> -->
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
              </div>
            </div>
            <input type='file' (change)="onSelectFile($event)" style=" display: none;" class="file-upload">
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Welcome</h6>
            <h4 class="card-title">Nowaf Al_Basem</h4>
            <p class="card-description">
            </p>
            <a href="javascript:void(0)" class="btn btn-danger ">Update Avatar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>