.update-btn{
    background-color: white !important;
    color: #014996 !important;
}
.card-profile .card-avatar {
    margin: 0px auto 0;

}
.required:after {
    content:" *";
    color: red;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(230 230 230 / 0%) !important;
}
.saveBtn{
    background-color: #457ee7;
}
.iconSpan{
    cursor: pointer;
}
.iconSpan >i:hover {
    background-color: gray;
    border-radius: 50%;
}
.popupHeader{
    background-color: #014996;
   
}
.h4Header{
    color: white;
}
.fixWidth{
    max-width: 216px;
}

/*  popup css */
.tbodyClass > tr > td {
    border: 1px solid #014996;;
    text-align: center;
}
table > thead > tr  {
    text-align: center;
    }
    .centerImage{
        text-align: center;
    }
    .circleImage{
        border-radius: 50%;
    }

    .perfect-scrollbar-on .main-panel {
        height: 0% !important;
        max-height: 0% !important;
    }

    @media (min-width: 992px) {
    .modal-lg, .modal-xl {
        max-width: 1053px;
    }
}
.vechicleIcon{
    width: 64px;
    height: 64px;
    padding: 4px;
}
.inRow{
    display: flex;
}
.imageOption{
    display: flex;
    justify-content: space-around;
}
.imageBorder{
    display: inline-block;
    border:1px solid black;
  margin-right: 7px;
}
.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}
.card-body-collapse{
    border: 1px solid #a79795;
}
.labelHeader{
    font-weight: 900;
    font-size: 18px;
}
.marginSelect{
    margin-top: 11px;
}
.selectVechicle{
    padding-top: 20px;
}
.headerBtn{
    color: black;
    font-size: 17px;
    font-weight: 900;
    opacity: 0.5;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.iconClass{
    display: flex;
    justify-content: center;
}

.avatar-wrapper {
    position: relative;
    height: 184px;
    width: 20%;
    margin: 10px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 5px 10px 15px -5px #20474b;
    transition: all 0.3s ease;

  }
  .avatar-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .avatar-wrapper:hover .profile-pic {
    opacity: 0.5;
  }
  .avatar-wrapper .profile-pic {
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
  }
  .form-check-label {
    margin-right: 16px;
  }
  .avatar-wrapper .profile-pic:after {
    font-family: FontAwesome;
    content: "\f007";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 0px;
    background: #ecf0f1;
    color: #34495e;
    text-align: center;
  }
  .avatar-wrapper .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .avatar-wrapper .upload-button .fa-arrow-circle-up {
    position: absolute;
    font-size: 200%;
    top: 50%;
    left: 42%;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
    color: #34495e;
  }
  .avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
    opacity: 0.9;
  }
  .eyeIcon{
    float: right;
    position: absolute;
    /* margin-right: 40px; */
    right: 0px;
    cursor: pointer;
  }
  .vehicleColor{
      margin-top: 20px;
  }
  .colorClass{
    /* margin-top: 18px; */
  }
  .colorType{
    padding: 0px;
    width: 152px;
    height: 60px;
  }
  .marginHeader{
    margin-right: 7px;
  }
  .active{
      border: 5px solid red;
      box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
  }
  .checkedAll{
      font-size: 20px;
  }
  .selectedGov{
      padding-left: 30px;
  }
  input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
.numberInput{
    /* padding-top: 15px; */
    border: none;
    width: 100;
    /* width: 136%; */

    width: 100%;
}
.numberDiv{
width: 100% !important; 
border-bottom: 1px solid #6f6262ba;
margin-top: 16px;
}

