<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Drivers Details<button mat-raised-button type="submit"
                                data-toggle="modal" data-target="#FilterModel" (click)="addNewOrder()"
                                class="btn pull-right update-btn">Add New Driver
                            </button></h4>
                        <p class="card-category"> Total Drivers {{orderDetails.length}}
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                *ngIf="orderDetails.length > 0">
                                <thead class="">
                                    <tr>
                                        <th>
                                            Name
                                        </th>


                                        <th>
                                            DL Ex. Date
                                        </th>

                                        <th>
                                            Mobile Number
                                        </th>
                                        <th>
                                            User Name
                                        </th>

                                        <th>
                                            Password
                                        </th>
                                        <th>
                                            Email
                                        </th>


                                        <th>
                                            Status
                                        </th>

                                        <th>
                                            Role
                                        </th>

                                        <th>
                                            Vehicle Details
                                        </th>


                                        <th>
                                            Governorate Zone
                                        </th>

                                        <th>
                                            Area Zone
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="tbodyClass">
                                    <tr *ngFor="let item of orderDetails ; let i = index">

                                        <td>
                                            {{item.customerName}}
                                        </td>

                                        <td>
                                            {{item.phoneNumber}}
                                        </td>

                                        <td>
                                            <div>
                                                <div>{{item.Governorate}}</div>
                                                <div>{{item.Area}}</div>
                                                <div>{{item.Block}}</div>
                                                <div>{{item.Street}}</div>
                                                <div>{{item.BuildingNo}}</div>
                                                <div>{{item.floorNo}}</div>
                                            </div>
                                        </td>
                                        <td>
                                            {{item.status}}
                                        </td>
                                        <td>
                                            {{item.status}}
                                        </td>
                                        <td>
                                            {{item.status}}
                                        </td>
                                        <td>
                                            {{item.status}}
                                        </td>
                                        <td>
                                            {{item.status}}
                                        </td>
                                        <td>
                                            {{item.status}}
                                        </td>
                                        <td>
                                            {{item.status}}
                                        </td>
                                        <td>
                                            <!-- <span class="material-icons-round">
                                                mode_edit
                                            </span> -->

                                            <span class="iconSpan">
                                                <i class="material-icons" (click)="selectedItem( item.id)"
                                                    data-toggle="modal" data-target="#FilterModel"> mode_edit</i>
                                            </span>
                                            <span class="iconSpan">
                                                <i class="material-icons " data-toggle="modal"
                                                    data-target="#deleteLocation" (click)="deleteOrder(i)">
                                                    delete
                                                </i>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>


                            </table>
                            <h3 *ngIf="orderDetails.length == 0">
                                Please Add Driver (No Driver Found)
                            </h3>
                            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  modal -->
<div id="FilterModel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">{{addOrEdit}} Driver</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="orderForm">
                            <div class="row">

                                <div class="col-md-12 centerImage">
                                    <div class="card-avatar circleImage avatar-wrapper">
                                        <img [src]="url" height="200" width="200"
                                            class="card-avatar circleImage  profile-pic">
                                        <div class="upload-button">
                                            <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <input type='file' (change)="onSelectFile($event)" style=" display: none;"
                                        class="file-upload">
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="First Name" type="text"
                                            formControlName="firstName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Last Name" type="text" formControlName="lastName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Driving Licence Expiry Date" type="date"
                                            formControlName="dl">
                                    </mat-form-field>
                                </div>

                            </div>


                            <div class="row">

                                <!-- <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="ID" type="text" formControlName="phoneNumber">
                                    </mat-form-field>
                                </div> -->
                                <div class="col-md-4">
                                    <!-- <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Mobile No" type="number"
                                            formControlName="phoneNumber">
                                    </mat-form-field> -->
                                    <div class="numberDiv">
                                        <input type="text" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'KW'}"
                                            class="numberInput" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="User Name" type="text" formControlName="userName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Password" [type]="passwordType"
                                            formControlName="password">
                                        <i class="material-icons eyeIcon" data-toggle="modal"
                                            (click)="changePasswordType()" *ngIf="passwordType == 'password'">
                                            visibility</i>
                                        <i class="material-icons eyeIcon" data-toggle="modal"
                                            (click)="changePasswordType()" *ngIf="passwordType == 'text'">
                                            visibility_off</i>
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email" type="email" formControlName="customerName">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4 marginSelect">
                                    <!-- <ng-multiselect-dropdown [placeholder]="'Status'" [settings]="dropdownSettings"
                                        [data]="dropdownListStatus" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown> -->
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Status</mat-label>
                                        <select matNativeControl formControlName="status" #status
                                            (change)="changeGovernorate(status.value)" placeholder="Status">
                                            <option disabled value="">
                                                Select Status
                                            </option>
                                            <option value="Active">Active</option>
                                            <option value="InActive">InActive</option>
                                            <option value="Blocked">Blocked</option>

                                        </select>
                                    </mat-form-field>
                                </div>

                                <!-- <ng-multiselect-dropdown [placeholder]="'Role'" [settings]="dropdownSettings"
                                        [data]="dropdownList" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown> -->
                                <!-- <mat-form-field class="example-full-width">
                                        <mat-label>Role</mat-label>
                                        <select matNativeControl formControlName="role" #role
                                            (change)="changeGovernorate(role.value)" placeholder="Role">
                                            <option disabled value="">
                                                Select Role
                                            </option>
                                            <option value="Accountant">Accountant</option>
                                            <option value="Administrative">Administrative</option>
                                            <option value="Support">Support</option>
                                            <option value="Outdoors">Outdoors</option>
                                        </select>
                                    </mat-form-field> -->

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="ID-IDXXXX" type="text" readonly value="IDXXXX"
                                            formControlName="id">
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="row">


                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Section</mat-label>
                                        <select matNativeControl formControlName="Section" #Governorate
                                            (change)="changeGovernorate(Governorate.value)" placeholder="Section">
                                            <option disabled value="">
                                                Select Section
                                            </option>
                                            <option value="Active">All</option>
                                            <option value="InActive">Local Post</option>
                                            <option value="Blocked">International Post</option>
                                            <option value="Blocked">Delivery Orders</option>

                                        </select>
                                    </mat-form-field>
                                </div>


                            </div>
                            <br>
                            <br>
                            <div class="row">

                                <div class="col-md-8 imageOption">
                                    <h4 class="selectVechicle">
                                        Select Vehicle Type:
                                    </h4>
                                    <div class="inRow">
                                        <span class="imageBorder" [class]="isActiveClass == 'bicycle' ? 'active':''"
                                            (click)="changeBorder('bicycle')">
                                            <img src="./assets/img/bicycle.svg" class="vechicleIcon">
                                        </span>
                                        <span class="imageBorder" (click)="changeBorder('mailman')"
                                            [class]="isActiveClass == 'mailman' ? 'active':''">
                                            <img src="./assets/img/mailman.svg" class="vechicleIcon">
                                        </span>
                                        <span class="imageBorder" (click)="changeBorder('truck')"
                                            [class]="isActiveClass == 'truck' ? 'active':''">
                                            <img src="./assets/img/pickup-truck.svg" class="vechicleIcon">
                                        </span>
                                        <span class="imageBorder" (click)="changeBorder('trucking')"
                                            [class]="isActiveClass == 'trucking' ? 'active':''">
                                            <img src="./assets/img/trucking.svg" class="vechicleIcon">
                                        </span>
                                        <span class="imageBorder" (click)="changeBorder('motorbike')"
                                            [class]="isActiveClass == 'motorbike' ? 'active':''">
                                            <img src="./assets/img/motorbike.svg" class="vechicleIcon">
                                        </span>
                                        <span class="imageBorder" (click)="changeBorder('delivery')"
                                            [class]="isActiveClass == 'delivery' ? 'active':''">
                                            <img src="./assets/img/delivery.svg" class="vechicleIcon">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4 colorClass">
                                    <!-- <mat-form-field class="example-full-width">
                                        <mat-label> Vehicle Color</mat-label>
                                        <select matNativeControl formControlName="Section"
                                            placeholder="     Vehicle Color">
                                            <option disabled value="">
                                                Select Section
                                            </option>
                                            <option value="Active">Orange</option>
                                            <option value="InActive">Yellow</option>
                                            <option value="Active">Orange</option>
                                            <option value="InActive">Yellow</option>
                                            <option value="Active">Orange</option>
                                            <option value="InActive">Yellow</option>
                                            <option value="Active">Green</option>
    
    
                                        </select>
                                    </mat-form-field> -->
                                    <table class="variations" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td class="label">
                                                    <!-- <label for="pa_available-colors">Vehicle Color</label> -->
                                                    <h4 class="marginHeader">
                                                        Vehicle Color:
                                                    </h4>
                                                </td>
                                                <td class="value">
                                                    <input type="color" id="pa_available-colors"
                                                        name="attribute_pa_available-colors"
                                                        data-attribute_name="attribute_pa_available-colors"
                                                        list="colors" class="colorType">
                                                    <datalist id="colors">
                                                        <option>
                                                            #000000
                                                        </option>
                                                        <option>#ff0000 </option>
                                                        <option>#808080</option>
                                                        <option>#0000ff</option>
                                                        <option>#00ff00</option>
                                                        <option>#ffff00</option>
                                                        <option>#00ffff</option>
                                                        <option>#ffffff</option>
                                                    </datalist>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                </div>

                            </div>

                            <br>
                            <br>
                            <div class="row">

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Licence Plate" type="text"
                                            formControlName="LicencePlate">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Vehicle License Expiry" type="vDate">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- 
                                    <div id="accordion">



                                        <div class="card"
                                            *ngFor="let item of areaListByGovernorate ; let index = index">
                                            <div class="card-header " [id]="'headingOne' + index">
                                                <h5 class="mb-0" [attr.data-toggle]="'collapse'"
                                                    [attr.data-target]="'#test' + index" [attr.aria-expanded]="false"
                                                    [attr.aria-controls]="'test' + index">

                                                    <button class="btn btn-link headerBtn"
                                                        [attr.data-toggle]="'collapse'"
                                                        [attr.data-target]="'#test' + index"
                                                        [attr.aria-expanded]="false"
                                                        [attr.aria-controls]="'test' + index">
                                                        {{item.gov}} - Governorate Zone
                                                    </button>

                                                </h5>
                                            </div>

                                            <div [id]="'test' + index" class="collapse "
                                                [attr.aria-labelledby]="'headingOne' + index"
                                                [attr.data-parent]="'#accordion'">
                                                <div class="card-body card-body-collapse">
                                                    <div class="row ">
                                                        <label class="col-md-12 labelHeader">
                                                            <input type="checkbox" [value]="gov"
                                                                (change)='sendDataGov(item.gov)'> {{item.gov}}
                                                            (Governorate)
                                                        </label>
                                                      
                                                        <hr>

                                                        <label class="col-md-3" *ngFor="let areaItem of item.area">
                                                            <input type="checkbox" [value]="areaItem"
                                                                (change)=sendData(areaItem)
                                                                [checked]="checkedArea(areaItem)">
                                                            {{areaItem}}
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div> -->


                                    <div id="accordion">



                                        <div class="card">
                                            <div class="card-header " [id]="'headingOne'">
                                                <h5 class="mb-0" [attr.data-toggle]="'collapse'"
                                                    [attr.data-target]="'#test'" [attr.aria-expanded]="false"
                                                    [attr.aria-controls]="'test'">

                                                    <button class="btn btn-link headerBtn"
                                                        [attr.data-toggle]="'collapse'" [attr.data-target]="'#test'"
                                                        [attr.aria-expanded]="false" [attr.aria-controls]="'test'">
                                                        Governorate Zone
                                                    </button>
                                                    <div class="selectedGov">
                                                        {{govList.join()}}
                                                    </div>
                                                </h5>
                                            </div>

                                            <div [id]="'test'" class="collapse " [attr.aria-labelledby]="'headingOne'"
                                                [attr.data-parent]="'#accordion'">
                                                <div class="card-body card-body-collapse">
                                                    <div class="row ">
                                                        <!-- <label class="col-md-12 labelHeader">
                                                            <input type="checkbox" [value]="gov">
                                                            Governorate
                                                        </label> -->

                                                        <hr>

                                                        <label class="col-md-3"
                                                            *ngFor="let areaItem of governorateList">
                                                            <input type="checkbox" [value]="areaItem"
                                                                (change)=sendDataGovernorate(areaItem)>
                                                            {{areaItem}}
                                                            <!--   [checked]="checkedGovernorate(areaItem)" -->
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <!-- area list -->
                                        <div class="card">
                                            <div class="card-header " [id]="'headingTwo'">
                                                <h5 class="mb-0" [attr.data-toggle]="'collapse'"
                                                    [attr.data-target]="'#test2'" [attr.aria-expanded]="false"
                                                    [attr.aria-controls]="'test2'">

                                                    <button class="btn btn-link headerBtn"
                                                        [attr.data-toggle]="'collapse'" [attr.data-target]="'#test2'"
                                                        [attr.aria-expanded]="false" [attr.aria-controls]="'test2'">
                                                        Area Zone
                                                    </button>

                                                </h5>
                                            </div>

                                            <div [id]="'test2'" class="collapse " [attr.aria-labelledby]="'headingTwo'"
                                                [attr.data-parent]="'#accordion'">
                                                <div class="card-body card-body-collapse">
                                                    <div class="row ">
                                                        <!-- <label class="col-md-12 labelHeader">
                                                            <input type="checkbox" [value]="gov"
                                                                (change)='sendDataGov(item.gov)'>
                                                            Area
                                                        </label> -->


                                                        <div *ngIf="checkList && checkList.length > 0">
                                                            <div>
                                                                <label class="col-md-3 checkedAll">

                                                                    <input type="checkbox" name="checked"
                                                                        (click)="checkedAll(checkAll.checked)"
                                                                        #checkAll>
                                                                    Checked All

                                                                </label>
                                                                <!-- <label class="col-md-3 checkedAll">
                                                                    <input type="radio" name="checked" value="unchecked"
                                                                        (click)="checkedAll('Unchecked')">
                                                                    Unchecked All
                                                                </label> -->
                                                            </div>
                                                            <label class="col-md-3" *ngFor="let areaItem of checkList">
                                                                <input type="checkbox" [value]="areaItem"
                                                                    [checked]="checked(areaItem)"
                                                                    (change)="checkedSelected(areaItem)">
                                                                {{areaItem}}
                                                            </label>

                                                        </div>
                                                        <div *ngIf="checkList.length == 0">
                                                            <label>
                                                                Please Select Governorate Zone
                                                            </label>

                                                        </div>



                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" (click)="onClick()">
                        Save Driver
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- popUp for company logo update -->

<!-- company details Update -->

<!-- Delete Location -->
<div id="deleteLocation" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4>
                    Are you sure you want to delete this Driver?
                </h4>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" data-dismiss="modal"
                        (click)="confirmDelete()">
                        Delete
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="downloadTemplate" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4>
                    Download Option (excel)
                </h4>
                <h6>
                    In Progress
                </h6>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" data-dismiss="modal"
                        (click)="confirmDelete()">
                        Download
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="uploadFile" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4>
                    Upload Option (excel)
                </h4>
                <h6>
                    In Progress
                </h6>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" data-dismiss="modal"
                        (click)="confirmDelete()">
                        upload
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>