<div class="main-content">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-md-12">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
                    [zoomControl]="false" (mapClick)="mapClicked($event)">
                    <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
                        [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable"
                        (dragEnd)="markerDragEnd(m, $event)">
                        <agm-info-window>
                            <strong>InfoWindow content</strong>
                        </agm-info-window>
                    </agm-marker>
                    <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'"
                        [circleDraggable]="true" [editable]="true">
                    </agm-circle>
                </agm-map>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Express Post</h4>
                        <p class="card-category">Company Logo</p>
                    </div>
                    <div class="card-avatar marginClass">
                        <a href="javascript:void(0)">
                            <img class="img logoClass" src="./assets/img/express_logo.jpeg" />
                        </a>
                    </div>
                    <div class=" card-body avtarClass">
                        <!-- <h4 class="card-title">Test Company</h4> -->
                        <p class="card-description">
                            The World Messenger
                        </p>
                        <a href="javascript:void(0)" class="btn btn-danger " data-toggle="modal"
                            data-target="#companyLogo">Update Logo</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Company Profile</h4>
                        <p class="card-category">Company Details</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="companyForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width" required>
                                        <mat-label>Company Name </mat-label>
                                        <input matInput placeholder="Company Name" value="test name" readonly
                                            formControlName="companyName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email address" type="email" readonly
                                            formControlName="companyEmail">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">


                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Company Phone" type="number" readonly
                                            formControlName="companyPhone">
                                    </mat-form-field>



                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Company Website" type="text" readonly
                                            formControlName="companyWebsite">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder=" Notifications Email address" type="email" readonly
                                            formControlName="companyOtherEmail">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                data-toggle="modal" data-target="#companyUpdate">Update
                                Profile</button>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                data-toggle="modal" data-target="#addHours">Update Working Hours</button>
                            <!-- addHours -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Company Location <button mat-raised-button type="submit"
                                data-toggle="modal" data-target="#FilterModel" (click)="addNewLocation()"
                                class="btn pull-right update-btn">Add New Location
                            </button></h4>
                        <p class="card-category"> Total Location {{locationDetails.length}}
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                <thead>
                                    <tr>
                                        <th>
                                            Location Name
                                        </th>
                                        <th>
                                            Mobile No.
                                        </th>
                                        <th>
                                            #PACI
                                        </th>
                                        <th>
                                            Governorate
                                        </th>
                                        <th>
                                            Area
                                        </th>
                                        <th>
                                            Block
                                        </th>
                                        <th>
                                            Street
                                        </th>
                                        <th>
                                            Building No.
                                        </th>
                                        <th>
                                            Floor No.
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="tbodyClass">
                                    <tr *ngFor="let item of locationDetails ; let i = index">
                                        <td class="fixWidth">
                                            {{item.locationName}}
                                        </td>
                                        <td>
                                            {{item.mobile_no}}
                                        </td>
                                        <td>
                                            {{item.paci}}
                                        </td>
                                        <td>
                                            {{item.Governorate}}
                                        </td>
                                        <td>
                                            {{item.Area}}
                                        </td>
                                        <td>
                                            {{item.Block}}
                                        </td>
                                        <td>
                                            {{item.Street}}
                                        </td>
                                        <td>
                                            {{item.BuildingNo}}
                                        </td>
                                        <td>
                                            {{item.floorNo}}
                                        </td>
                                        <td>
                                            <!-- <span class="material-icons-round">
                                                mode_edit
                                            </span> -->
                                            <div class="iconClass">
                                                <span class="iconSpan">
                                                    <i class="material-icons" data-toggle="modal"
                                                        data-target="#ma">location_on
                                                    </i>
                                                </span>
                                                <span class="iconSpan">
                                                    <i class="material-icons" (click)="selectedItem( item.id)"
                                                        data-toggle="modal" data-target="#FilterModel">mode_edit </i>
                                                </span>
                                                <span class="iconSpan">
                                                    <i class="material-icons " data-toggle="modal"
                                                        data-target="#deleteLocation" (click)="deleteLocation(i)">
                                                        delete
                                                    </i>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                        </div>
                    </div>
                </div>
                <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-left" data-toggle="modal"
                    data-target="#DistributionOrder">Distribution Order
                </button> -->
            </div>
        </div>
    </div>
</div>

<!--  modal -->
<div id="FilterModel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">{{addOrEdit}} Location</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="locationForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Location Name " type="text" required
                                            formControlName="locationName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="#PACI" type="text" formControlName="paci">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Mobile Number" type="number"
                                            formControlName="mobile_no">
                                    </mat-form-field> -->
                                    <div class="numberDiv">
                                        <input type="text" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'KW'}"
                                            class="numberInput" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Governorate</mat-label>
                                        <select matNativeControl required formControlName="Governorate" #Governorate
                                            (change)="changeGovernorate(Governorate.value)" placeholder="Governorate">
                                            <option disabled value="">
                                                Select Governorate
                                            </option>
                                            <option value="Capital">Capital</option>
                                            <option value="Hawalli">Hawalli</option>
                                            <option value="Mubarak Al-Kaber">Mubarak Al-Kaber</option>
                                            <option value="Ahmadi">Ahmadi</option>
                                            <option value="Farwaniya">Farwaniya</option>
                                            <option value="Jahra">Jahra</option>
                                        </select>
                                    </mat-form-field>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <!-- <input matInput placeholder="Area" type="text" formControlName="Area"> -->
                                        <select matNativeControl required formControlName="Area" placeholder="Area">
                                            <option disabled value="">
                                                Select Area
                                            </option>
                                            <option value="{{item}}" *ngFor="let item of areaList">{{item}}</option>
                                        </select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Block" type="number" formControlName="Block">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Street" type="text" formControlName="Street">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Building No." type="number"
                                            formControlName="BuildingNo">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Floor No." type="text" formControlName="floorNo">
                                    </mat-form-field>
                                </div>

                            </div>
                            <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save
                                Location</button> -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" (click)="onClick()">
                        Save Location
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- popUp for company logo update -->
<div id="companyLogo" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">Update Company Logo </h4>
                            <p class="card-category"></p>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5>under process</h5>
                        <!-- testing plugin -->
                        <div class="table">
                            <div class="table-cell">
                                <div class="modal">
                                    <div id="profile">
                                        <div class="dashes"></div>
                                        <label>Click to browse or drag an image here</label>
                                    </div>
                                    <div class="editable"><i class="fa fa-pencil"></i>
                                        <h1 contenteditable>Drew Vosburg</h1>
                                    </div>
                                    <div class="stat">
                                        <div class="label">Shots</div>
                                        <div class="num">40</div>
                                    </div>
                                    <div class="stat">
                                        <div class="label">Projects</div>
                                        <div class="num">1</div>
                                    </div>
                                    <button>Done Editing</button>
                                </div>
                            </div>
                        </div>
                        <input type="file" id="mediaFile" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" data-dismiss="modal"
                        (click)="onClick()">
                        Save Logo
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- company details Update -->
<div id="companyUpdate" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Company Profile</h4>
                        <p class="card-category">Company Details</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="companyForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Company Name </mat-label>
                                        <input matInput placeholder="Company Name" value="test name" required
                                            formControlName="companyName">
                                        <!-- <span class="text-danger" ">
                                            Company Name is required
                                        </span> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email address" type="email"
                                            formControlName="companyEmail">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="numberDiv">
                                        <input type="text" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'KW'}"
                                            class="numberInput" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Company Website" type="text"
                                            formControlName="companyWebsite">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder=" Notifications Email address" type="email"
                                            formControlName="companyOtherEmail">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn"
                        (click)="onSaveCompanyDetails()">
                        Update Company Details
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Delete Location -->
<div id="deleteLocation" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4>
                    Are you sure you want to delete this location?
                </h4>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" data-dismiss="modal"
                        (click)="confirmDelete()">
                        Delete
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--   working hours -->
<div id="addHours" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class=" col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Working Hours</h4>
                            <p class="card-category"> General Working Hours Definitions</p>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-4 marginTop">
                                        <ng-multiselect-dropdown [placeholder]="'Branch Name'"
                                            [settings]="dropdownSettings" [data]="dropdownListStatus">
                                        </ng-multiselect-dropdown>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width" placeholder="Select TimeZone">
                                            <select name="timezone" matNativeControl>
                                                <option> Select TimeZone</option>
                                                <option value="Etc/GMT+12">(GMT-12:00) International Date Line West
                                                </option>
                                                <option value="Pacific/Midway">(GMT-11:00) Midway Island, Samoa</option>
                                                <option value="Pacific/Honolulu">(GMT-10:00) Hawaii</option>
                                                <option value="US/Alaska">(GMT-09:00) Alaska</option>
                                                <option value="America/Los_Angeles">(GMT-08:00) Pacific Time (US &
                                                    Canada)</option>
                                                <option value="America/Tijuana">(GMT-08:00) Tijuana, Baja California
                                                </option>
                                                <option value="US/Arizona">(GMT-07:00) Arizona</option>
                                                <option value="America/Chihuahua">(GMT-07:00) Chihuahua, La Paz,
                                                    Mazatlan</option>
                                                <option value="US/Mountain">(GMT-07:00) Mountain Time (US & Canada)
                                                </option>
                                                <option value="America/Managua">(GMT-06:00) Central America</option>
                                                <option value="US/Central">(GMT-06:00) Central Time (US & Canada)
                                                </option>
                                                <option value="America/Mexico_City">(GMT-06:00) Guadalajara, Mexico
                                                    City, Monterrey</option>
                                                <option value="Canada/Saskatchewan">(GMT-06:00) Saskatchewan</option>
                                                <option value="America/Bogota">(GMT-05:00) Bogota, Lima, Quito, Rio
                                                    Branco</option>
                                                <option value="US/Eastern">(GMT-05:00) Eastern Time (US & Canada)
                                                </option>
                                                <option value="US/East-Indiana">(GMT-05:00) Indiana (East)</option>
                                                <option value="Canada/Atlantic">(GMT-04:00) Atlantic Time (Canada)
                                                </option>
                                                <option value="America/Caracas">(GMT-04:00) Caracas, La Paz</option>
                                                <option value="America/Manaus">(GMT-04:00) Manaus</option>
                                                <option value="America/Santiago">(GMT-04:00) Santiago</option>
                                                <option value="Canada/Newfoundland">(GMT-03:30) Newfoundland</option>
                                                <option value="America/Sao_Paulo">(GMT-03:00) Brasilia</option>
                                                <option value="America/Argentina/Buenos_Aires">(GMT-03:00) Buenos Aires,
                                                    Georgetown</option>
                                                <option value="America/Godthab">(GMT-03:00) Greenland</option>
                                                <option value="America/Montevideo">(GMT-03:00) Montevideo</option>
                                                <option value="America/Noronha">(GMT-02:00) Mid-Atlantic</option>
                                                <option value="Atlantic/Cape_Verde">(GMT-01:00) Cape Verde Is.</option>
                                                <option value="Atlantic/Azores">(GMT-01:00) Azores</option>
                                                <option value="Africa/Casablanca">(GMT+00:00) Casablanca, Monrovia,
                                                    Reykjavik</option>
                                                <option value="Etc/Greenwich">(GMT+00:00) Greenwich Mean Time : Dublin,
                                                    Edinburgh, Lisbon, London</option>
                                                <option value="Europe/Amsterdam">(GMT+01:00) Amsterdam, Berlin, Bern,
                                                    Rome, Stockholm, Vienna</option>
                                                <option value="Europe/Belgrade">(GMT+01:00) Belgrade, Bratislava,
                                                    Budapest, Ljubljana, Prague</option>
                                                <option value="Europe/Brussels">(GMT+01:00) Brussels, Copenhagen,
                                                    Madrid, Paris</option>
                                                <option value="Europe/Sarajevo">(GMT+01:00) Sarajevo, Skopje, Warsaw,
                                                    Zagreb</option>
                                                <option value="Africa/Lagos">(GMT+01:00) West Central Africa</option>
                                                <option value="Asia/Amman">(GMT+02:00) Amman</option>
                                                <option value="Europe/Athens">(GMT+02:00) Athens, Bucharest, Istanbul
                                                </option>
                                                <option value="Asia/Beirut">(GMT+02:00) Beirut</option>
                                                <option value="Africa/Cairo">(GMT+02:00) Cairo</option>
                                                <option value="Africa/Harare">(GMT+02:00) Harare, Pretoria</option>
                                                <option value="Europe/Helsinki">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia,
                                                    Tallinn, Vilnius</option>
                                                <option value="Asia/Jerusalem">(GMT+02:00) Jerusalem</option>
                                                <option value="Europe/Minsk">(GMT+02:00) Minsk</option>
                                                <option value="Africa/Windhoek">(GMT+02:00) Windhoek</option>
                                                <option value="Asia/Kuwait">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
                                                <option value="Europe/Moscow">(GMT+03:00) Moscow, St. Petersburg,
                                                    Volgograd</option>
                                                <option value="Africa/Nairobi">(GMT+03:00) Nairobi</option>
                                                <option value="Asia/Tbilisi">(GMT+03:00) Tbilisi</option>
                                                <option value="Asia/Tehran">(GMT+03:30) Tehran</option>
                                                <option value="Asia/Muscat">(GMT+04:00) Abu Dhabi, Muscat</option>
                                                <option value="Asia/Baku">(GMT+04:00) Baku</option>
                                                <option value="Asia/Yerevan">(GMT+04:00) Yerevan</option>
                                                <option value="Asia/Kabul">(GMT+04:30) Kabul</option>
                                                <option value="Asia/Yekaterinburg">(GMT+05:00) Yekaterinburg</option>
                                                <option value="Asia/Karachi">(GMT+05:00) Islamabad, Karachi, Tashkent
                                                </option>
                                                <option value="Asia/Calcutta">(GMT+05:30) Chennai, Kolkata, Mumbai, New
                                                    Delhi</option>
                                                <option value="Asia/Calcutta">(GMT+05:30) Sri Jayawardenapura</option>
                                                <option value="Asia/Katmandu">(GMT+05:45) Kathmandu</option>
                                                <option value="Asia/Almaty">(GMT+06:00) Almaty, Novosibirsk</option>
                                                <option value="Asia/Dhaka">(GMT+06:00) Astana, Dhaka</option>
                                                <option value="Asia/Rangoon">(GMT+06:30) Yangon (Rangoon)</option>
                                                <option value="Asia/Bangkok">(GMT+07:00) Bangkok, Hanoi, Jakarta
                                                </option>
                                                <option value="Asia/Krasnoyarsk">(GMT+07:00) Krasnoyarsk</option>
                                                <option value="Asia/Hong_Kong">(GMT+08:00) Beijing, Chongqing, Hong
                                                    Kong, Urumqi</option>
                                                <option value="Asia/Kuala_Lumpur">(GMT+08:00) Kuala Lumpur, Singapore
                                                </option>
                                                <option value="Asia/Irkutsk">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
                                                <option value="Australia/Perth">(GMT+08:00) Perth</option>
                                                <option value="Asia/Taipei">(GMT+08:00) Taipei</option>
                                                <option value="Asia/Tokyo">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
                                                <option value="Asia/Seoul">(GMT+09:00) Seoul</option>
                                                <option value="Asia/Yakutsk">(GMT+09:00) Yakutsk</option>
                                                <option value="Australia/Adelaide">(GMT+09:30) Adelaide</option>
                                                <option value="Australia/Darwin">(GMT+09:30) Darwin</option>
                                                <option value="Australia/Brisbane">(GMT+10:00) Brisbane</option>
                                                <option value="Australia/Canberra">(GMT+10:00) Canberra, Melbourne,
                                                    Sydney</option>
                                                <option value="Australia/Hobart">(GMT+10:00) Hobart</option>
                                                <option value="Pacific/Guam">(GMT+10:00) Guam, Port Moresby</option>
                                                <option value="Asia/Vladivostok">(GMT+10:00) Vladivostok</option>
                                                <option value="Asia/Magadan">(GMT+11:00) Magadan, Solomon Is., New
                                                    Caledonia</option>
                                                <option value="Pacific/Auckland">(GMT+12:00) Auckland, Wellington
                                                </option>
                                                <option value="Pacific/Fiji">(GMT+12:00) Fiji, Kamchatka, Marshall Is.
                                                </option>
                                                <option value="Pacific/Tongatapu">(GMT+13:00) Nuku'alofa</option>
                                            </select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Current offset(hr)" type="text">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <!-- addHours -->
                                <div class="clearfix"></div>
                            </form>
                            <table class="table hours">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" #ischecked
                                                        (click)="checkedAll(ischecked.checked)" [checked]="masterCheck"
                                                        [(ngModel)]="masterCheck">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </th>
                                        <th>Days</th>
                                        <th>From</th>
                                        <th>To</th>
                                    </tr>
                                </thead>
                                <tbody class="centerBody">
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" [checked]="checkAll"
                                                        [(ngModel)]="mondayCheck"
                                                        (change)="changeCheckBox(mondayCheck , 'monday')">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <span>
                                                Monday
                                            </span>
                                        </td>
                                        <td class="td-actions ">
                                            <input type="time" [disabled]="!checkList['monday']" value="08:00"
                                                class="timepicker">
                                        </td>
                                        <td class="td-actions ">
                                            <input type="time" [disabled]="!checkList['monday']" placeholder="HH:MM"
                                                value="16:00" class="timepicker">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" [checked]="checkAll"
                                                        [(ngModel)]="tuesdayCheck"
                                                        (change)="changeCheckBox(tuesdayCheck , 'tuesday')">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <span>
                                                Tuesday
                                            </span>
                                        </td>
                                        <td class="td-actions ">
                                            <input type="time" [disabled]="!checkList['tuesday']" value="08:00"
                                                class="timepicker">
                                        </td>
                                        <td class="td-actions ">
                                            <input type="time" [disabled]="!checkList['tuesday']" value="16:00"
                                                class="timepicker">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        [checked]="checkAll" [(ngModel)]="wednesdayCheck"
                                                        (change)="changeCheckBox(wednesdayCheck , 'wednesday')">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <span>
                                                Wednesday
                                            </span>
                                        </td>
                                        <td class="td-actions ">
                                            <input type="time" [disabled]="!checkList['wednesday']" value="08:00"
                                                class="timepicker">
                                        </td>
                                        <td class="td-actions ">
                                            <input type="time" [disabled]="!checkList['wednesday']" value="16:00"
                                                class="timepicker">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        [checked]="checkAll" [(ngModel)]="thursdayCheck"
                                                        (change)="changeCheckBox(thursdayCheck , 'thursday')">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <span>
                                                Thursday
                                            </span>
                                        </td>
                                        <td class="td-actions ">
                                            <input type="time" [disabled]="!checkList['thursday']" value="08:00"
                                                class="timepicker">
                                        </td>
                                        <td class="td-actions ">
                                            <input type="time" [disabled]="!checkList['thursday']" value="16:00"
                                                class="timepicker">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        [checked]="checkAll" [(ngModel)]="fridayCheck"
                                                        (change)="changeCheckBox(fridayCheck , 'friday')">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <span>
                                                Friday
                                            </span>
                                        </td>
                                        <td class="td-actions ">
                                            <input type="time" [disabled]="!checkList['friday']" value="08:00"
                                                class="timepicker">
                                        </td>
                                        <td class="td-actions ">
                                            <input type="time" [disabled]="!checkList['friday']" value="16:00"
                                                class="timepicker">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        [checked]="checkAll" [(ngModel)]="saturdayCheck"
                                                        (change)="changeCheckBox(saturdayCheck , 'saturday')">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <span>
                                                Saturday
                                            </span>
                                        </td>
                                        <td class="td-actions ">
                                            <input type="time" [disabled]="!checkList['saturday']  " value="08:00"
                                                class="timepicker">
                                        </td>
                                        <td class="td-actions ">
                                            <input type="time" [disabled]="!checkList['saturday'] " value="16:00"
                                                class="timepicker">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        [checked]="checkAll" [(ngModel)]="sundayCheck"
                                                        (change)="changeCheckBox(sundayCheck , 'sunday')">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <span>
                                                Sunday
                                            </span>
                                        </td>
                                        <td class="td-actions ">
                                            <input type="time" [disabled]="!checkList['sunday']" value="08:00"
                                                class="timepicker">
                                        </td>
                                        <td class="td-actions ">
                                            <input type="time" [disabled]="!checkList['sunday'] " value="16:00"
                                                class="timepicker">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="modal-footer">
                                <div style="margin: auto">
                                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn"
                                        data-dismiss="modal" (click)="confirmDelete()">
                                        Save
                                    </button>
                                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                                        data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="card-body table-responsive">
                          
                        </div> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--   <agm-map [zoom]="mapZoomLevel" [disableDefaultUI]="false" [zoomControl]="false" [fullscreenControl]="true">
                                        <agm-marker  *ngFor="let data of portsDetails; let i = index" [latitude]="data.latitude" [longitude]="data.longitude" [iconUrl]="icon"
                                        (markerClick)="onMarkerClick(infoWindow);">
                                           <agm-info-window #infoWindow ><label>@{{data.name}}: </label> <ul><li *ngFor="let item of getPortNominationList(data)"> {{item}}</li></ul></agm-info-window>
                                        </agm-marker>
                                     </agm-map> -->