
.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

.searchBtn
{
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover
{
    position: initial;
    /* top: 50%; */
    left: 0;
    right: 0;
    width: 100%;
    /* padding: 35px; */
    /* margin: -83px auto 0 auto; */
    background-color: #014996;
    border-radius: 5px;
    box-shadow: 0 10px 40px #014996, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
    background: linear-gradient( 
90deg
 , rgb(58 55 109) 0%, #014996 89%);
    padding: 0px 20px;
}

form
{
    height: 96px;
}

.searchBtn
{
    width: 100%;
    height: 96px;
    font-size: 151%;
    line-height: 1;
}

.searchBtn::placeholder
{
    color: white;
    opacity: .6;
}

#s-cover
{
    width: 1px;
    padding-left: 35px;
}

button
{
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
    background-color: #014996;
}

#s-circle
{
    position: relative;
    top: -8px;
    left: -5px;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button span
{
    position: absolute;
    top: 63px;
    left: 21px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(
52deg
);
    transition: 0.5s ease all;
}

button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -6px;
    width: 40px;
    background-color: #fff;
}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  text-decoration: none;
  background-color: #014996;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(255, 117, 117, 0.86);
  z-index: 125;
  background: linear-gradient( 
90deg
 , rgb(58 55 109) 0%, rgba(1,73,150,1) 89%);
}

.events li { 
    display: flex; 
    color: #999;
  }
  
  .events time { 
    position: relative;
    padding: 0 1.5em;
    font-weight: 800;  }
  
  .events time::after { 
     content: "";
     position: absolute;
     z-index: 2;
     right: 0;
     top: 0;
     transform: translateX(50%);
     border-radius: 50%;
     background: #fff;
     border: 1px #ccc solid;
     width: .8em;
     height: .8em;
  }
  
  
  .events span {
    padding: 0 1.5em 1.5em 1.5em;
    position: relative;
  }
  
  .events span::before {
     content: "";
     position: absolute;
     z-index: 1;
     left: 0;
     height: 100%;
     border-left: 1px #ccc solid;
  }
  
  .events strong {
    display: block;
    font-weight: 900;
    color: #014996;
  }
  
  .events { margin: 1em; width: 100%; }
  .events, 
  .events *::before, 
  .events *::after { box-sizing: border-box; font-family: arial; }

  .trackerClass{
      border : 2px solid #014996;
      border-radius: 3px;
      margin-top: -20px;
      padding: 15px;
  }
  .headerClass{
    height: 91px;
    background: linear-gradient( 
        90deg
         , rgb(58 55 109) 0%, #014996 89%);
            padding: 0px 20px;
    color: white;
  
  }
  .iconMail {
    font-size: 68px;
    animation: rotation 2s infinite linear;
    -webkit-transform: rotate(
45deg
);
    -moz-transform: rotate(310deg);
    -ms-transform: rotate(310deg);
    -o-transform: rotate(310deg);
    transform: rotate(
310deg
);
  }
  .trackId{
    position: absolute;
    top: 27px;
    font-size: 25px;
  }
  .orderId{

  }

  .events .time::after {
    content: "";
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    transform: translateX(50%);
    border-radius: 50%;
    background: #014996;
    border: 1px #ccc solid;
    width: .8em;
    height: .8em;
}
.trackData{
    margin-top: 30px;
    border-left: 3px solid #014996;
}
.src{
    padding: 0;
    border: none;
    background: none;
}
.innerText{
    font-family: fangsong;
    color: #F82020 ;
    opacity: .6;
    font-weight: 900;
    font-size: 20px;
    line-height: 2;

}
.div60{
    width: 60%;
    text-align: center;
    margin: auto;
    border: 2px solid #014996;
    padding: 2px 10px;
    box-shadow: 0 10px 40px #014996, 0 0 0 20px #ffffffeb;
    border-radius: 5px;
}
.headerAlert{
    font-size: 24px;  
}
.floatClass{
    float: left;
    font-size: 40px;
}
.cColor{
    color: #014996 ; 
    opacity: 07;
}