<div class="addMargin">
    <button mat-raised-button type="submit" class="btn btn-danger pull-right addMarginRight" data-toggle="modal"
        data-target="#assignDrivers"> <i class="material-icons marginRight" data-toggle="modal"
            data-target="#ma">person_add
        </i>Assign Drivers </button>
</div>
<div class="clearfix"></div>
<div class="main-content removeMargin">


    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Distribution Order</h4>
                        <p class="card-category">Order Details</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Distribution Order Number</mat-label>
                                        <input matInput placeholder="Distribution Order Number" value="" required
                                            type="number">

                                    </mat-form-field>
                                </div>

                                <!-- <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Customers Branches</mat-label>
                                        <select matNativeControl required>
                                            <option value="" disabled selected>Select Branches </option>
                                            <option value="Capital">Capital</option>
                                            <option value="Hawalli">Hawalli</option>
                                            <option value="Mubarak Al-Kaber">Mubarak Al-Kaber</option>
                                            <option value="Ahmadi">Ahmadi</option>
                                            <option value="Farwaniya">Farwaniya</option>
                                            <option value="Jahra">Jahra</option>
                                        </select>
                                    </mat-form-field>
                                </div> -->


                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Delivery Date" type="date">
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Company Website" type="text" readonly
                                            formControlName="companyWebsite">
                                    </mat-form-field>
                                </div> -->
                            </div>

                            <!-- <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder=" Notifications Email address" type="email" readonly
                                            formControlName="companyOtherEmail">
                                    </mat-form-field>
                                </div>

                            </div> -->

                            <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                data-toggle="modal" data-target="#downloadTemplate">Download Template
                            </button>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                data-toggle="modal" data-target="#uploadFile">Upload
                                File Data</button> -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Order Details</h4>
                        <p class="card-category"> Total Order
                            {{orderDetails.length}}

                        </p>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                <thead class="">
                                    <tr>
                                        <th>
                                            #SN
                                        </th>
                                        <th>
                                            Barcode
                                        </th>
                                        <th>
                                            AWB#
                                        </th>
                                        <th>
                                            Sender Name
                                        </th>
                                        <th>
                                            Receiver Name
                                        </th>
                                        <th>
                                            Order Date
                                        </th>
                                        <th>
                                            Shipment Details
                                        </th>
                                        <th>
                                            Payment Methods
                                        </th>
                                        <th>
                                            Order Status
                                        </th>
                                        <th>
                                            Client Name
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>

                                </thead>
                                <tbody class="tbodyClass">
                                    <tr *ngFor="let item of orderDetails ; let i = index">
                                        <td class="fixWidth">
                                            {{i + 1}}
                                        </td>
                                        <td>

                                            <ngx-barcode [bc-value]="item.barcode" [bc-display-value]="true"
                                                [bc-height]="60">
                                            </ngx-barcode>
                                        </td>
                                        <td>
                                            {{item.AWB}}
                                        </td>
                                        <td>
                                            {{item.receiverName}}
                                        </td>
                                        <td>
                                            {{item.senderName}}
                                        </td>
                                        <td>
                                            {{item.orderDate}}
                                        </td>
                                        <td>
                                            {{item.shipmentDetails}}
                                        </td>
                                        <td>
                                            {{item.paymentMethod}}
                                        </td>
                                        <td>
                                            {{item.orderStatus}}
                                        </td>
                                        <td>
                                            {{item.clientName}}
                                        </td>
                                        <td>
                                            <!-- <span class="material-icons-round">
                                                mode_edit
                                            </span> -->
                                            <div class="iconClass">
                                                <span class="iconSpan">
                                                    <i class="material-icons" data-toggle="modal"
                                                        data-target="#distributor">visibility </i>
                                                </span>
                                                <span class="iconSpan">
                                                    <i class="material-icons" (click)="selectedItem( item.id)"
                                                        data-toggle="modal" data-target="#FilterModel">mode_edit </i>
                                                </span>
                                                <span class="iconSpan">
                                                    <i class="material-icons " data-toggle="modal"
                                                        data-target="#deleteLocation" (click)="deleteLocation(i)">
                                                        delete
                                                    </i>
                                                </span>
                                            </div>
                                        </td>

                                    </tr>

                                </tbody>


                            </table>
                            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                        </div>
                    </div>

                </div>
                <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-left" data-toggle="modal"
                    data-target="#distributor">After Distributing to the client
                </button> -->

                <button mat-raised-button type="submit" class="btn btn-danger pull-right" data-toggle="modal"
                    data-target="#uploadFile">Save</button>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" data-toggle="modal"
                    data-target="#downloadTemplate">Save & Send By Mail
                </button>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" data-toggle="modal"
                    data-target="#uploadFile">Save & Print</button>
            </div>
        </div>

    </div>
</div>




<div id="distributor" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="card">
                    <div class="card-header card-header-danger textCenter">
                        <h4 class="card-title">AFTER DISTRIBUTING TO THE CLIENT
                        </h4>
                        <p class="card-category"> &nbsp;</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6 textCenter">
                                    <div class="textCenter"> EXPRESS POST</div>
                                    <div class="textCenter">
                                        TEL : 523723782
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="textCenter"> صريح آخر</div>
                                    <div class="textCenter">
                                        هاتف: 523723782
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 textCenter">
                                    <div>
                                        Mail Receipt Form
                                    </div>
                                    <div>
                                        www.expresspost.com
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 textCenter">
                                    <div class="textCenter">
                                        <ngx-barcode [bc-value]="24445212" [bc-display-value]="true" [bc-height]="60">
                                        </ngx-barcode>
                                    </div>
                                    <!-- <div class="textCenter">
                                        TEL : 523723782
                                    </div> -->
                                </div>

                                <div class="col-md-6">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="textRight">
                                                From
                                            </div>
                                            <div class="textRight">
                                                من عند
                                            </div>

                                        </div>
                                        <div class="col-md-6 centerLabel" contenteditable="true">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class=" labelClass">
                                        <h6>
                                            To.
                                        </h6>
                                    </div>
                                    <!-- <div class="textCenter">
                                        TEL : 523723782
                                    </div> -->
                                </div>
                                <div class="col-md-6 ">
                                    <div class=" centerLabel" contenteditable="true">
                                        &nbsp;
                                    </div>
                                    <!-- <div class="textCenter">
                                        TEL : 523723782
                                    </div> -->
                                </div>

                                <div class="col-md-3">

                                    <div class=" labelClass arebic">
                                        <h6>
                                            اسم المرسل إليه


                                        </h6>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class=" labelClass">
                                        <h6>
                                            Location
                                        </h6>
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>
                                <div class="col-md-6 ">
                                    <div class=" centerLabel" contenteditable="true">
                                        &nbsp;
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>

                                <div class="col-md-3">

                                    <div class=" labelClass arebic">
                                        <h6>
                                            العنوان

                                        </h6>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class=" labelClass">
                                        <h6>
                                            A.N
                                        </h6>
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>
                                <div class="col-md-6 ">
                                    <div class=" centerLabel" contenteditable="true">
                                        &nbsp;
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>

                                <div class="col-md-3">

                                    <div class=" labelClass arebic">
                                        <h6>
                                            الرقم الآلي


                                        </h6>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class=" labelClass">
                                        <h6>
                                            Rec. Name
                                        </h6>
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>
                                <div class="col-md-6 ">
                                    <div class=" centerLabel" contenteditable="true">
                                        &nbsp;
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>

                                <div class="col-md-3">

                                    <div class=" labelClass arebic">
                                        <h6>
                                            اسم المستلم

                                        </h6>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class=" labelClass">
                                        <h6>
                                            Discribe
                                        </h6>
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>
                                <div class="col-md-6 ">
                                    <div class=" centerLabel" contenteditable="true">
                                        &nbsp;
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>

                                <div class="col-md-3">

                                    <div class=" labelClass arebic">
                                        <h6>
                                            صفة المستلم

                                        </h6>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class=" labelClass">
                                        <h6>
                                            Date
                                        </h6>
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>
                                <div class="col-md-6 ">
                                    <div class=" centerLabel" contenteditable="true">
                                        &nbsp;
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>

                                <div class="col-md-3">

                                    <div class=" labelClass arebic">
                                        <h6>
                                            تالايخ الاستلام

                                        </h6>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class=" labelClass">
                                        <h6>
                                            Time
                                        </h6>
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>
                                <div class="col-md-6 ">
                                    <div class=" centerLabel" contenteditable="true">
                                        &nbsp;
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>

                                <div class="col-md-3">

                                    <div class=" labelClass arebic">
                                        <h6>
                                            الساعة

                                        </h6>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class=" labelClass">
                                        <h6>
                                            Signature
                                        </h6>
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>
                                <div class="col-md-6 ">
                                    <div class=" centerLabel" contenteditable="true">
                                        &nbsp;
                                    </div>
                                    <!-- <div class="">
                                        TEL : 523723782
                                    </div> -->
                                </div>

                                <div class="col-md-3">

                                    <div class=" labelClass arebic">
                                        <h6>
                                            التوقيع
                                        </h6>

                                    </div>
                                </div>
                            </div>



                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn"
                        (click)="onSaveCompanyDetails()">
                        Update Company Details
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div> -->
        </div>
    </div>
</div>

<!--  modal -->