<div class="addMargin" (click)="changeRoutes()">
    <button mat-raised-button type="submit" class="btn btn-danger pull-right addMarginRight" data-toggle="modal"
        data-target="#assignDrivers"> <i class="material-icons marginRight" data-toggle="modal"
            data-target="#ma">person_add
        </i>Assign Drivers </button>
</div>
<div class="clearfix"></div>
<div class="main-content removeMargin">


    <div class="container-fluid">

        <div class="row">

            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Order Details</h4>
                        <p class="card-category"> Total Order
                            {{orderDetails.length}}

                        </p>

                    </div>
                    <div class="card-body">

                        <div class="  filterBtn">
                            <div class="nav-item dropdown pull-left  ">

                                <a class="nav-link btn btn-danger pull-left " href="javascript:void(0)"
                                    id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" mat-raised-button>
                                    <i class="material-icons">filter_alt</i>
                                    All Filter


                                </a>



                                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                                    <label class="dropdown-item" (click)='filer("all")'>
                                        <input type="radio" value="" name="status"> <span class="marginLeft">All </span>
                                    </label>

                                    <label class="dropdown-item" href="javascript:void(0)" (click)='filer("Approved")'>
                                        <input type="radio" value="Approved" name="status">
                                        <span class="marginLeft"> Approved </span></label>
                                    <label class="dropdown-item" href="javascript:void(0)"
                                        (click)='filer("outofpickup")'>
                                        <input type="radio" value="outofpickup" name="status">
                                        <span class="marginLeft"> Out of pickup </span></label>
                                    <label class="dropdown-item" href="javascript:void(0)" (click)='filer("pickedup")'>
                                        <input type="radio" value="pickedup" name="status">
                                        <span class="marginLeft"> Picked up </span></label>
                                    <label class="dropdown-item" href="javascript:void(0)"
                                        (click)='filer("outofdelivery")'>
                                        <input type="radio" value="outofdelivery" name="status">
                                        <span class="marginLeft"> out of delivery </span></label>
                                    <label class="dropdown-item" href="javascript:void(0)"
                                        (click)='filer("undersorting")'>
                                        <input type="radio" value=" undersorting" name="status">
                                        <span class="marginLeft"> under sorting </span></label>
                                    <label class="dropdown-item" href="javascript:void(0)" (click)='filer("onhold")'>
                                        <input type="radio" value="onhold" name="status">
                                        <span class="marginLeft"> on hold </span></label>
                                    <label class="dropdown-item" href="javascript:void(0)" (click)='filer("Returned")'>
                                        <input type="radio" value="returned" name="status">
                                        <span class="marginLeft"> returned </span></label>
                                    <label class="dropdown-item" href="javascript:void(0)" (click)='filer("Delivered")'>
                                        <input type="radio" value="delivered" name="status">
                                        <span class="marginLeft"> delivered</span></label>




                                </div>
                                <!-- <a class="nav-link btn btn-danger pull-left addMarginRight" href="javascript:void(0)"
                                    id="navbarDropdownMenuLink1" data-toggle="dropdown1" aria-haspopup="true"
                                    aria-expanded="false" mat-raised-button>
                                    <i class="material-icons">highlight_alt</i>
                                    Export


                                </a>
                                <div class="dropdown-menu dropdown-menu-left dropdown-menu"
                                    aria-labelledby="navbarDropdownMenuLink1">
                                    <label class="dropdown-item ">
                                        <input type="radio" value="" name="export"> <span class="marginLeft">PDF </span>
                                    </label>

                                    <label class="dropdown-item">
                                        <input type="radio" value="" name="export"> <span class="marginLeft">Excel
                                        </span>
                                    </label>



                                </div> -->



                            </div>

                            <div class="nav-item dropdown pull-left  ">



                                <a class="nav-link btn btn-danger pull-left " href="javascript:void(0)"
                                    id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" mat-raised-button>
                                    <i class="material-icons">print</i>
                                    Print


                                </a>

                                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink2">
                                    <label class="dropdown-item">
                                        <input type="radio" value="" name="print"> <span class="marginLeft">Barcode
                                        </span>
                                    </label>

                                    <label class="dropdown-item">
                                        <input type="radio" value="" name="print"> <span class="marginLeft">Manifest
                                        </span>
                                    </label>



                                </div>



                            </div>




                            <div class="nav-item dropdown pull-left  ">


                                <a class="nav-link btn btn-danger pull-left " href="javascript:void(0)"
                                    id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" mat-raised-button>
                                    <i class="material-icons">highlight_alt</i>
                                    Export


                                </a>
                                <div class="dropdown-menu dropdown-menu-left dropdown-menu"
                                    aria-labelledby="navbarDropdownMenuLink">
                                    <label class="dropdown-item ">
                                        <input type="radio" value="" name="export"> <span class="marginLeft">PDF </span>
                                    </label>

                                    <label class="dropdown-item">
                                        <input type="radio" value="" name="export"> <span class="marginLeft">Excel
                                        </span>
                                    </label>



                                </div>



                            </div>
                        </div>




                        <div class="table-responsive">
                            <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                <thead class="">
                                    <tr>
                                        <th>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" #ischecked>
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </th>
                                        <th>
                                            Barcode
                                        </th>
                                        <th>
                                            AWB#
                                        </th>
                                        <th>
                                            Sender Name
                                        </th>
                                        <th>
                                            Receiver Name
                                        </th>
                                        <th>
                                            Order Date
                                        </th>
                                        <th>
                                            Shipment Details
                                        </th>
                                        <th>
                                            Payment Methods
                                        </th>
                                        <th>
                                            Order Status
                                        </th>
                                        <th>
                                            Driver Name
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>

                                </thead>
                                <tbody class="tbodyClass">
                                    <tr *ngFor="let item of orderDetails ; let i = index">
                                        <td class="fixWidth">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"
                                                        (click)=checkBoxAdd(i)>
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>

                                            <ngx-barcode [bc-value]="item.barcode" [bc-display-value]="true"
                                                [bc-height]="60">
                                            </ngx-barcode>
                                        </td>
                                        <td>
                                            {{item.AWB}}
                                        </td>
                                        <td>
                                            {{item.receiverName}}
                                        </td>
                                        <td>
                                            {{item.senderName}}
                                        </td>
                                        <td>
                                            {{item.orderDate}}
                                        </td>
                                        <td>
                                            {{item.shipmentDetails}}
                                        </td>
                                        <td>
                                            {{item.paymentMethod}}
                                        </td>
                                        <td>
                                            {{item.orderStatus}}
                                        </td>
                                        <td>
                                            {{item.clientName}}
                                        </td>
                                        <td>
                                            <!-- <span class="material-icons-round">
                                                mode_edit
                                            </span> -->
                                            <div class="iconClass">


                                                <div class="nav-item dropdown pull-left  ">



                                                    <a class="nav-link  " href="javascript:void(0)"
                                                        id="navbarDropdownMenuLink2" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        <span class="iconSpan">
                                                            <i class="material-icons">linear_scale </i>
                                                        </span>


                                                    </a>

                                                    <div class="dropdown-menu dropdown-menu-left"
                                                        aria-labelledby="navbarDropdownMenuLink2">
                                                        <label class="dropdown-item" data-toggle="modal"
                                                            data-target="#edits">
                                                            <i class="material-icons">edit </i><span
                                                                class="marginLeft">Edit
                                                            </span>

                                                        </label>

                                                        <label class="dropdown-item" data-toggle="modal"
                                                            data-target="#deleteLocation">
                                                            <i class="material-icons">delete_forever </i><span
                                                                class="marginLeft">Delete
                                                                <!-- deleteLocation -->
                                                            </span>
                                                        </label>
                                                        <label class="dropdown-item" data-toggle="modal"
                                                            data-target="#changeStatus">
                                                            <i class="material-icons">change_circle </i><span
                                                                class="marginLeft">Change Status
                                                            </span>
                                                            <!-- changeStatus -->
                                                        </label>

                                                        <label class="dropdown-item" (click)="track(item.AWB)">
                                                            <i class="material-icons">local_shipping </i><span
                                                                class="marginLeft">Order Tracker
                                                            </span>
                                                        </label>
                                                        <!-- orderTrack -->


                                                    </div>



                                                </div>
                                            </div>
                                        </td>

                                    </tr>

                                </tbody>


                            </table>
                            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                        </div>
                    </div>

                </div>
                <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-left" data-toggle="modal"
                    data-target="#distributor">After Distributing to the client
                </button> -->
                <!-- 
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" data-toggle="modal"
                    data-target="#uploadFile">Save</button>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" data-toggle="modal"
                    data-target="#downloadTemplate">Save & Send By Mail
                </button>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" data-toggle="modal"
                    data-target="#uploadFile">Save & Print</button> -->
            </div>
        </div>

    </div>
</div>

<div id="changeStatus" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">Change Status</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>
                    <!--   name: 'test location 1 test ', case: 9889231821, receiverName: '721781277122', Governorate: 'Governorate1', Area: 'test area1',
        Block: 'test Block', Street: 'test Street', BuildingNo: 'test building 1', floorNo: '12', id: 3, notes: "dummy data", barCode: 6162162 -->
                    <div class="card-body">
                        <form>

                            <div class="row">

                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Select Status</mat-label>
                                        <select matNativeControl #Governorate placeholder="Select Status"
                                            class="paddingLeft">
                                            <option disabled value="">
                                                Select Status
                                            </option>
                                            <option value="Capital">Approved </option>
                                            <option value="Hawalli">Out of pickup </option>
                                            <option value="Mubarak Al-Kaber">Picked up</option>
                                            <option value="Ahmadi">out of delivery</option>
                                            <option value="Farwaniya">under sorting</option>
                                            <option value="Jahra">on hold</option>
                                            <option value="Jahra">returned </option>
                                            <option value="Jahra">delivered</option>
                                        </select>
                                    </mat-form-field>

                                </div>

                            </div>
                            <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save
                                Location</button> -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" (click)="onClick()">
                        Save
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="print" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">Print</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>
                    <!--   name: 'test location 1 test ', case: 9889231821, receiverName: '721781277122', Governorate: 'Governorate1', Area: 'test area1',
        Block: 'test Block', Street: 'test Street', BuildingNo: 'test building 1', floorNo: '12', id: 3, notes: "dummy data", barCode: 6162162 -->
                    <div class="card-body">
                        <form>

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="print">
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                                <span style="margin-left: 25px;">
                                                    Barcode
                                                </span>
                                            </span>
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="print">
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                                <span style="margin-left: 25px;">
                                                    Manifest
                                                </span>
                                            </span>
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save
                                Location</button> -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" (click)="onClick()">
                        Print
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>




<div id="edit" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">Edit order</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>
                    <!--   name: 'test location 1 test ', case: 9889231821, receiverName: '721781277122', Governorate: 'Governorate1', Area: 'test area1',
        Block: 'test Block', Street: 'test Street', BuildingNo: 'test building 1', floorNo: '12', id: 3, notes: "dummy data", barCode: 6162162 -->
                    <div class="card-body">
                        <form>

                            <h3>
                                under process
                            </h3>
                            <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save
                                Location</button> -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" (click)="onClick()">
                        save
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>




<div id="edits" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">Order</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>
                    <!--   name: 'test location 1 test ', case: 9889231821, receiverName: '721781277122', Governorate: 'Governorate1', Area: 'test area1',
        Block: 'test Block', Street: 'test Street', BuildingNo: 'test building 1', floorNo: '12', id: 3, notes: "dummy data", barCode: 6162162 -->
                    <div class="card-body">
                        <form [formGroup]="order">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="AWB" type="text" formControlName="awb">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Sender Name" type="text"
                                            formControlName="senderName">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Receiver Name" type="text"
                                            formControlName="receiverName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Governorate</mat-label>
                                        <select matNativeControl required #Governorate
                                            (change)="changeGovernorate(Governorate.value)" placeholder="Governorate"
                                            formControlName="Governorate">
                                            <option disabled value="">
                                                Select Governorate
                                            </option>
                                            <option value="Capital">Capital</option>
                                            <option value="Hawalli">Hawalli</option>
                                            <option value="Mubarak Al-Kaber">Mubarak Al-Kaber</option>
                                            <option value="Ahmadi">Ahmadi</option>
                                            <option value="Farwaniya">Farwaniya</option>
                                            <option value="Jahra">Jahra</option>
                                        </select>
                                    </mat-form-field>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <!-- <input matInput placeholder="Area" type="text" formControlName="Area"> -->
                                        <select matNativeControl required placeholder="Area" formControlName="Area">
                                            <option disabled value="">
                                                Select Area
                                            </option>
                                            <option value="{{item}}" *ngFor="let item of areaList">{{item}}</option>
                                        </select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Block" type="number" formControlName="Block">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Street" type="text" formControlName="Street">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Building No." type="number"
                                            formControlName="BuildingNo">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Floor No." type="text" formControlName="floorNo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Select Driver</mat-label>
                                        <select matNativeControl placeholder="Order Status" formControlName="driver">
                                            <option disabled value="">
                                                Select Driver
                                            </option>
                                            <option value="Driver1">Driver1 </option>
                                            <option value="Driver2">Driver2 </option>
                                            <option value="Driver3">Driver3</option>
                                            <option value="Driver4">Driver4</option>

                                        </select>
                                    </mat-form-field>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Bar Code" type="number" formControlName="barcode">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Order Date" type="date"
                                            formControlName="orderDate">
                                    </mat-form-field>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Payment Methods" type="text"
                                            formControlName="payment">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Select Status</mat-label>
                                        <select matNativeControl placeholder="Order Status" formControlName="status">
                                            <option disabled value="">
                                                Select Status
                                            </option>
                                            <option value="Capital">Approved </option>
                                            <option value="Hawalli">Out of pickup </option>
                                            <option value="Mubarak Al-Kaber">Picked up</option>
                                            <option value="Ahmadi">out of delivery</option>
                                            <option value="Farwaniya">under sorting</option>
                                            <option value="Jahra">on hold</option>
                                            <option value="Jahra">returned </option>
                                            <option value="Jahra">delivered</option>
                                        </select>
                                    </mat-form-field>

                                </div>
                            </div>
                            <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save
                                Location</button> -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" (click)="onClick()">
                        Save Order
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FilterModel -->

<!-- 
                    <div class="row">

                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Select Status</mat-label>
                                <select matNativeControl #Governorate placeholder="Select Status">
                                    <option disabled value="">
                                        Select Status
                                    </option>
                                    <option value="Capital">r </option>
                                    <option value="Hawalli">Out of pickup </option>
                                    <option value="Mubarak Al-Kaber">Picked up</option>
                                    <option value="Ahmadi">out of delivery</option>
                                    <option value="Farwaniya">under sorting</option>
                                    <option value="Jahra">on hold</option>
                                    <option value="Jahra">returned </option>
                                    <option value="Jahra">delivered</option>
                                </select>
                            </mat-form-field>

                        </div>
                    </div> -->

<div id="deleteLocation" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4>
                    Are you sure you want to delete this order?
                </h4>
            </div>
            <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn" data-dismiss="modal"
                        (click)="confirmDelete()">
                        Delete
                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="orderTrack" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div class="cardStyle container card-cascade">
                    <div class="overlay-CardCascade paddingFor-CardCascade">
                        <div class="card-header card-header-danger popupHeader">
                            <h4 class="card-title h4Header">Track Order</h4>
                            <p class="card-category"></p>
                        </div>
                    </div>
                    <!--   name: 'test location 1 test ', case: 9889231821, receiverName: '721781277122', Governorate: 'Governorate1', Area: 'test area1',
        Block: 'test Block', Street: 'test Street', BuildingNo: 'test building 1', floorNo: '12', id: 3, notes: "dummy data", barCode: 6162162 -->
                    <div class="card-body">
                        <form [formGroup]="order">
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="AWB" type="text" formControlName="awb" readonly>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Sender Name" type="text" readonly
                                            formControlName="senderName">
                                    </mat-form-field>
                                </div>


                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Receiver Name" type="text" readonly
                                            formControlName="receiverName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Governorate</mat-label>
                                        <select matNativeControl required #Governorate
                                            (change)="changeGovernorate(Governorate.value)" placeholder="Governorate"
                                            readonly formControlName="Governorate">
                                            <option disabled value="">
                                                Select Governorate
                                            </option>
                                            <option value="Capital">Capital</option>
                                            <option value="Hawalli">Hawalli</option>
                                            <option value="Mubarak Al-Kaber">Mubarak Al-Kaber</option>
                                            <option value="Ahmadi">Ahmadi</option>
                                            <option value="Farwaniya">Farwaniya</option>
                                            <option value="Jahra">Jahra</option>
                                        </select>
                                    </mat-form-field>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <!-- <input matInput placeholder="Area" type="text" formControlName="Area"> -->
                                        <select matNativeControl required placeholder="Area" formControlName="Area"
                                            readonly>
                                            <option disabled value="">
                                                Select Area
                                            </option>
                                            <option value="{{item}}" *ngFor="let item of areaList">{{item}}</option>
                                        </select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Block" type="number" formControlName="Block"
                                            readonly>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Street" type="text" formControlName="Street"
                                            readonly>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Building No." type="number" readonly
                                            formControlName="BuildingNo">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Floor No." type="text" formControlName="floorNo"
                                            readonly>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Select Driver</mat-label>
                                        <select matNativeControl placeholder="Order Status" formControlName="driver"
                                            readonly>
                                            <option disabled value="">
                                                Select Driver
                                            </option>
                                            <option value="Driver1">Driver1 </option>
                                            <option value="Driver2">Driver2 </option>
                                            <option value="Driver3">Driver3</option>
                                            <option value="Driver4">Driver4</option>

                                        </select>
                                    </mat-form-field>

                                </div>

                                <!-- 
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Bar Code" type="number" formControlName="barcode">
                                    </mat-form-field>
                                </div> -->
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Order Date" type="date" readonly
                                            formControlName="orderDate">
                                    </mat-form-field>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Payment Methods" type="text" disabled readonly
                                            formControlName="payment">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Select Status</mat-label>
                                        <select matNativeControl placeholder="Order Status" formControlName="status"
                                            disabled readonly>
                                            <option disabled value="">
                                                Select Status
                                            </option>
                                            <option value="Capital">Approved </option>
                                            <option value="Hawalli">Out of pickup </option>
                                            <option value="Mubarak Al-Kaber">Picked up</option>
                                            <option value="Ahmadi">out of delivery</option>
                                            <option value="Farwaniya">under sorting</option>
                                            <option value="Jahra">on hold</option>
                                            <option value="Jahra">returned </option>
                                            <option value="Jahra">delivered</option>
                                        </select>
                                    </mat-form-field>

                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover" datatable [dtOptions]="dtOptions"
                                    [dtTrigger]="dtTrigger">
                                    <thead class="">
                                        <tr>


                                            <th>
                                                Sender
                                            </th>
                                            <th>
                                                Receiver
                                            </th>
                                            <th>
                                                Action Date
                                            </th>
                                            <th>
                                                Details
                                            </th>

                                            <th>
                                                Status
                                            </th>
                                            <th>
                                                Driver Name
                                            </th>

                                        </tr>

                                    </thead>
                                    <tbody class="tbodyClass">
                                        <tr *ngFor="let item of orderDetails ; let i = index">


                                            <td>
                                                {{item.receiverName}}
                                            </td>
                                            <td>
                                                {{item.senderName}}
                                            </td>
                                            <td>
                                                {{item.orderDate}}
                                            </td>
                                            <td>
                                                {{item.shipmentDetails}}
                                            </td>

                                            <td>
                                                {{item.orderStatus}}
                                            </td>
                                            <td>
                                                {{item.clientName}}
                                            </td>


                                        </tr>

                                    </tbody>


                                </table>
                                <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                            </div>
                            <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save
                                Location</button> -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <div style="margin: auto">
                    <button type="button" class="btn btn-primary shadowfor-pop-btn saveBtn">

                    </button>
                    <button type="button" class="btn btn-danger close_btn shadowfor-pop-btn m-left-10"
                        data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div> -->
        </div>
    </div>
</div>