 .logo-img img {
    width: 100px;
    position: block; 
    /* top: 0px; */
    /* left: 89px; */
  
    /* margin: auto; */
}
.card-profile .card-avatar {
    margin: 0px auto 0;

}
.card-profile {
    margin-top: 1px;
    text-align: center;
    margin-bottom: 1px;
}
.card-profile .card-avatar + .card-body {
    margin-top: 0px;
}
 .nav {
    margin-top: 0px;
    display: block;
    margin-bottom: 20px !important;
    background-color:#014996 ;
    background: linear-gradient(
        90deg
        , rgb(58 55 109) 0%, rgba(1,73,150,1) 89%);
}

 li.active > a {
    background-color: #F82020;
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(255 3 3 / 73%);
}
 li > a {
    color: #fff;
   
}
.nav > li {
    padding-top: 3px;
}
.card-profile .card-avatar {
    max-width: 100px;
    max-height: 100px;
}
.nav li:hover > a{
    color: #ffffff;
}
.marginLeft{
    float: none !important;
}
.aBlock{
    display: block;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    float: right;
    margin-top: 14px;
}
.internalUl{
    background-color: #013f82;
    background: linear-gradient(
        90deg
        , #013f82 0%, rgba(1,73,150,1) 89%);

}
.logo {
     padding: 0px 0px !important; 

    height: 80px !important;
}